name: Build executable

on:
  workflow_call:
  pull_request:
    branches: ["main"]

env:
  GO_VERSION: 1.24.2
  BUN_VERSION: 1.2.9

jobs:
  build:
    name: Build executable
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}

      - name: Run build script
        run: make build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: github.event_name != 'pull_request'
        with:
          name: traefik-mhos_build
          path: ./bin/traefik-mhos_*
