<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Traefik-MHOS</title>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css" />
  <script>
    function freshScan(element) {
      element.innerText = "Scanning...";
      fetch("/api/scan", {
        method: "POST",
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.status === "ok") {
            window.location.reload();
          } else {
            element.innerText = "Fresh-scan";
            alert("Failed to scan");
          }
        });
    }
  </script>
</head>

<body>
  <h1 class="mt-8 mb-2 text-center text-4xl font-bold">Traefik-MHOS</h1>
  <main class="max-w-3xl mx-auto pb-24">
    <h2 class="mt-8 text-2xl font-bold">Hosts</h2>
    <ul>
      {{ range $host, $services := .Hosts }}
      <li x-data="">
        <h3 class="mt-4 flex items-center gap-2 text-xl font-bold">
          {{ $host }}
          {{ if eq $host $.CurrentHost }}
          <span class="italic font-normal">- Current</span>
          <button class="ml-auto bg-green-500 font-medium text-white cursor-pointer px-2 py-1 text-base"
            @click="freshScan($el)">
            Fresh-scan
          </button>
          {{ end }}
        </h3>
        <ul class="list-none p-0 mt-4" x-data="{ openedTab: '' }">
          {{ range $services }}
          <li class="my-0 not-first:border-t border-gray-300">
            <button
              class="bg-slate-200 py-4 text-slate-900 cursor-pointer px-4 w-full text-left border-none outline-none"
              :class="open ? '!bg-slate-100' : ''"
              @click="openedTab = (openedTab === '{{ .Name }}' ? '' : '{{ .Name }}')">
              {{ .Name }}
            </button>
            <ul class="ml-2 py-0 px-4 overflow-hidden bg-white transition-[max-height]"
              x-show="openedTab === '{{ .Name }}'" x-collapse>
              {{ range $key, $value := .Labels }}
              <li><strong>{{ $key }}</strong>: {{ $value }}</li>
              {{ end }}
            </ul>
          </li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
  </main>
</body>

</html>